# It is not recommended to modify this file in-place, because it will
# be overwritten during package upgrades. If you want to add further
# options or overwrite existing ones then use
# $ systemctl edit fujicoind.service
# See "man systemd.service" for details.

# Note that almost all daemon options could be specified in
# /etc/fujicoin/fujicoin.conf

[Unit]
Description=Fujicoin daemon
After=network.target

[Service]
ExecStart=/usr/bin/fujicoind -daemon -conf=/etc/fujicoin/fujicoin.conf -pid=/run/fujicoind/fujicoind.pid
# Creates /run/fujicoind owned by fujicoin
RuntimeDirectory=fujicoind
User=fujicoin
Type=forking
PIDFile=/run/fujicoind/fujicoind.pid
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
